{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            <a class="btn btn-secondary" href="{% url 'blog:post_edit' slug=post.slug %}">
                {% include './icons/pencil-fill.svg' %}
            </a>
        </aside>
        {% if post.published_date %}
                 <time class="date">
                {{ post.published_date }}
                 </time>
             {% endif %}
        <div class="d-flex flex-row">
            <div class="p-2">
            {% if post.thumbnail_image %}
            <img class="rounded-circle" src="{{ post.thumbnail_image.url }}" style="width: 100px;
            height: 100px; object-fit: cover;" alt=" ThumbnailImage">
            {% endif %} 
            </div>
            <div class="p-2">
            <h2>{{ post.title }} </h2> 
            <p>category: {{ post.category.name}}</p><hr> 
            </div>
            <div class="p-2">
            <p><a href="{% url 'blog:post_author' id=post.author.id %}"> By:- {{ post.author }}</a></p>
            </div>
             
        </div>
            

             {% if post.featured_image %}
                 <img class="square square-lg" src="{{ post.featured_image.url }}" style="width: 1300px;
                   height: 500px; object-fit: cover;" alt=" FeaturedImage">
             {% endif %}
            
        <p>{{ post.text|linebreaksbr }}</p>
        <p>Tags: 
            {% for tag in post.tag.all %}
            <p><a href="{% url 'blog:post_Tag' id=tag.id %}"> {{ tag }}</a></p>
            {% endfor %}
        </p>
     

        <h2> Comments </h2>
    <div class="card">
     {% if user.is_authenticated %}
      <form action="" method="POST" id="main_form" class="comment_form">
            <div>
             <label for="comment">Type Comment here</label>
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary" type="submit">Post</button>
            </div>
      </form>
      {% else %} 
      <h2>You need to Login to comment</h2> 
      {% endif %}
    </div>
    <div class="card">
        {% for comment in comments %}
        {% if comment.is_parent %}
        <div class="comment" style="background-color: powderblue">
            <p class="info">{{ comment.name }} | {{ comment.email }}</p> 
                 {{ comment.text|linebreaks }} 

        {% for reply in comment.replies.all %}
            <p class="info">{{ reply.name }} | {{ reply.email }}</p> 
            <li>{{ reply.text }}</li>
         {% endfor %}

        <form action="" method="POST" id="main_form{{ forloop.counter }}" class="reply_form">
            {{ comment_form.as_p}}
            {% csrf_token %}
            {{form.as_p}}
            <input type="hidden" name="comment_id" value="{{comment.pk}}">
            <input class="btn btn-primary" type="submit" value="reply">
        </form>
        <button id="Mybtn" data-id="{{ forloop.counter }}" class="btn btn-primary Mybtn">reply here</button>
        </div>
            {% endif %}
            {%empty%}
            <h4>there are no comments yet.</h4>
        {% endfor %}
    </div>
    </article>
{% endblock %}
{%block script%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script >
$(document).ready(function(){
    $('.reply_form').each(function(){
        $(this).toggle();
    })
    $('.Mybtn').click(function(){
        let data_id = $(this).attr('data-id');
        $('#main_form'+data_id).toggle();
  });
});   
</script>
{% endblock %}

